extends layout

block content
  .page-header
    h3 Create a new band
    if messages.errors
      .alert.alert-danger.fade.in
        for error in messages.errors
          div= error.msg

  form.form-horizontal(method='POST')
    .form-group
      label(class='col-sm-2 control-label', for='name') Name
      .col-sm-8
        input.form-control(type='text', name='name', id='name', autofocus=true)
    .form-group
      label(class='col-sm-2 control-label', for='country') Country
      .col-sm-8
        input.form-control(type='text', name='country', id='country')
    .form-group
      label(class='col-sm-2 control-label', for='rank') Rank
      .col-sm-8
        input.form-control(type='number', name='rank', id='rank')
    .form-group
      .col-sm-offset-2.col-sm-8
        button.btn.btn-primary(type='submit')
          i.fa.fa-envelope
          | Create a new band


    h3 Arrays
    img(src='landscape_small.jpg')
    div(ng-view)
    h3 Arrays fetched from mongo
    ul
      if fetchedBands !== undefined
        if fetchedBands.length > 0
        each val, index in fetchedBands
          li= val.name
            p= 'Country:' + ' ' + val.country
            p= 'Rank:' + ' ' + val.rank
      if tempBands !== undefined
        if tempBands.length > 0
        each val, index in tempBands
          li= val.name
            p= 'Country:' + ' ' + val.country
            p= 'Rank:' + ' ' + val.rank
